h1 {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
h2 {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

details {
    font: 24px "Times new roman", sans-serif;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
  
  details > summary {
    padding: 2px 6px;
    background: rgb(224,20,20);
    background: linear-gradient(225deg, rgba(224,20,20,1) 35%, rgba(0,79,255,1) 100%);
    border: none;
    border-radius: 8px;
    list-style: none;
  }
  
  details > summary::-webkit-details-marker {
    display: none;
  }
  
  details > p {
    border-radius: 10px;
    background-color: #f442eb;
    padding: 2px 6px;
    margin: 0;
  }
  